/*Start Hero Area*/

.hero-area{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d90a2c+0,c30b2a+100 */
    background: rgb(217,10,44); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNkOTBhMmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYzMwYjJhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-radial-gradient(center, ellipse cover, rgba(217,10,44,1) 0%, rgba(195,11,42,1) 100%); /* FF3.6-15 */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(217,10,44,1)), color-stop(100%,rgba(195,11,42,1))); /* Chrome4-9,Safari4-5 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(217,10,44,1) 0%,rgba(195,11,42,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: -o-radial-gradient(center, ellipse cover, rgba(217,10,44,1) 0%,rgba(195,11,42,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(217,10,44,1) 0%,rgba(195,11,42,1) 100%); /* IE10 preview */
    background: radial-gradient(ellipse at center, rgba(217,10,44,1) 0%,rgba(195,11,42,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d90a2c', endColorstr='#c30b2a',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
    padding: 1px;
    padding-bottom: 80px;
    z-index: 2
}
.navbar{
    margin-top: 40px;
    background-color: transparent;
}
.navbar .small-screen .container{
    background-color: rgba(255, 255, 255, 0.09);
}
.navbar > .container{
    background-color: rgba(255, 255, 255, 0.06);
}
.navbar .navbar-nav li.active{
    background-color: #D10A2B;
}
.hero-area .text{
    margin-top: 25px;
}
.hero-area .text h1{
    color: #fff;
    font-size: 1.5625rem;
    margin-bottom: 0;
}
.hero-area .text h1 span:first-child{
    font-weight: bold;
}
.hero-area .text h1 span:last-child{
    font-weight: 300;
}
.hero-area .text p{
    color: #fff;
    font-size: 1rem;
    line-height: 30px;
    margin-top: 25px;
    margin-bottom: 0;
}
.hero-area .text button{
    color: #c30b2a;
    font-size: 1.125rem;
    background-color: #fff;
    font-weight: 300;
    padding: 11px 20px;
    margin-top: 30px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    z-index: 2
}
.hero-area .text button:hover{
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
}
.hero-area .image{
    margin-top: 10px;
}
.hero-area .arrow-bottom{
    bottom: 0;
    right: 0;
    border-width: 0px 0px 100px 50px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    z-index: 1
}
@media (min-width: 576px){
    .hero-area .text h1{
        font-size: 2.1875rem;
    }
}
@media (min-width: 992px){
    .hero-area .text h1{
        font-size: 3.125rem;
    }
    .hero-area .text p{
        font-size: 1.25rem;
        line-height: 35px;
    }
    .hero-area .text button{
        margin-top: 45px;
    }
}

/*End Hero Area*/
/*Start Banner*/

.banner{
    background-color: #fff;
    padding-top: 60px;
    padding-bottom: 60px;
    z-index: 1
}
.banner .text{
    margin-top: 30px;
}
.banner .text h2{
    color: #c40b2b;
    font-weight: 300;
    font-size: 1.5625rem;
    line-height: 40px;
    margin-bottom: 0
}
.banner .text button{
    font-size: 1.125rem;
    font-weight: bold;
    color: #353535;
    background-color: #fff;
    padding: 15.5px 45px;
    -webkit-box-shadow: 0 0 40px rgba(195, 11, 42, 0.18);
    -moz-box-shadow: 0 0 40px rgba(195, 11, 42, 0.18);
    -ms-box-shadow: 0 0 40px rgba(195, 11, 42, 0.18);
    -o-box-shadow: 0 0 40px rgba(195, 11, 42, 0.18);
    box-shadow: 0 0 40px rgba(195, 11, 42, 0.18);
    margin-top: 40px;
}
.banner .text button:hover{
    background-color: #c40b2b;
    color: #fff;
    -webkit-box-shadow: 0;
    -moz-box-shadow: 0;
    -ms-box-shadow: 0;
    -o-box-shadow: 0;
    box-shadow: 0;
}
@media (min-width: 576px){
    .banner .text h2{
        font-size: 2.1875rem;
        line-height: 50px;
    }
    .banner .text button{
        margin-top: 50px;
    }
}
@media (min-width: 992px){
    .banner .text{
        margin-top: 0;
    }
    .banner .text h2{
        font-size: 3.125rem;
        line-height: 61px;
    }
    .banner .text button{
        margin-top: 70px;
    }
}

/*End Banner*/
/*Start Best Articles*/
/*(Uesful Videos, Students Testmonials, Quality, Blog Articles)*/

.best-articles{
    padding-top: 60px;
    padding-bottom: 60px;
}
.best-articles .header h2,
.uesful-videos .header h2,
.testmonials .header h2,
.quality .header h2,
.blog-articles .header h2{
    font-size: 1.875rem;
}
.best-articles .header h2 span,
.uesful-videos .header h2 span,
.testmonials .header h2 span,
.quality .header h2 span,
.blog-articles .header h2 span{
    z-index: 1;
}
.best-articles .header h2 span:first-child,
.uesful-videos .header h2 span:first-child,
.testmonials .header h2 span:first-child,
.quality .header h2 span:first-child,
.blog-articles .header h2 span:first-child{
    color: #c30b2a;
    font-weight: bold;
}
.best-articles .header h2 span:last-child,
.uesful-videos .header h2 span:last-child,
.testmonials .header h2 span:last-child,
.quality .header h2 span:last-child,
.blog-articles .header h2 span:last-child{
    color: #353535;
    font-weight: 300;
}
.best-articles .header h2 i,
.uesful-videos .header h2 i,
.testmonials .header h2 i,
.quality .header h2 i,
.blog-articles .header h2 i{
    opacity: 0.08;
    color: #353535;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 0;
}
.best-articles .header h2 i:before,
.uesful-videos .header h2 i:before,
.testmonials .header h2 i:before,
.quality .header h2 i:before,
.blog-articles .header h2 i:before{
    position: relative;
    font-size: 5.3125rem;
    margin: 0;
    z-index: 0;
}
.best-articles .pt-pb{
    padding-top: 50px;
    padding-bottom: 50px;
}
.best-articles .owl-item{
    padding: 5px;
}
.best-articles .article{
    -webkit-box-shadow: 0 0 13px rgba(195, 11, 42, 0.05);
    -moz-box-shadow: 0 0 13px rgba(195, 11, 42, 0.05);
    -ms-box-shadow: 0 0 13px rgba(195, 11, 42, 0.05);
    -o-box-shadow: 0 0 13px rgba(195, 11, 42, 0.05);
    box-shadow: 0 0 13px rgba(195, 11, 42, 0.05);
}
.best-articles .article .image{
    padding-top: 100%;
    background-image: url(../images/index/articles/image.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
}
.best-articles .article .overlay{
    background-color: rgba(195, 11, 42, 0.55);
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.best-articles .article:hover .overlay{
    opacity: 1;
}
.best-articles .article .overlay .info .icon-website > span,
.uesful-videos .scroll-section .section .image .overlay .icon-website > span{
    width: 40px;
    height: 50px;
    cursor: pointer;
}
.best-articles .article .overlay .info .icon-website > span:not(:last-child),
.uesful-videos .scroll-section .section .image .overlay .icon-website > span:not(:last-child){
    margin-right: 7px;
}
.best-articles .article .overlay .info .icon-website > span svg polygon,
.best-articles .article .overlay .info .icon-website > span i,
.uesful-videos .scroll-section .section .image .overlay .icon-website > span svg polygon,
.uesful-videos .scroll-section .section .image .overlay .icon-website > span i{
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.best-articles .article .overlay .info .icon-website > span:hover svg polygon,
.uesful-videos .scroll-section .section .image .overlay .icon-website > span:hover svg polygon{
    fill: #fff !important;
}
.best-articles .article .overlay .info .icon-website > span:hover i,
.uesful-videos .scroll-section .section .image .overlay .icon-website > span:hover i{
    color: #c30b2a
}
.best-articles .article .overlay .info .icon-website > span i,
.uesful-videos .scroll-section .section .image .overlay .icon-website > span i{
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
}
.best-articles .article .overlay .info > a{
    color: #c30b2a;
    font-size: 1.125rem;
    background-color: #fff;
    font-weight: 300;
    padding: 10.5px 45px;
    border: 1px solid #fff;
    margin-top: 30px;
}
.best-articles .article .overlay .info > a:hover{
    background-color: transparent;
    color: #fff;
}
.best-articles .article .overlay h2{
    background-color: #fff;
    bottom: 0;
    margin: 0;
    color: #353535;
    font-weight: 300;
    font-size: 1rem;
    line-height: 25px;
    padding: 20px 10px;
}
.best-articles .articles .owl-dots{
    display: none;
}
.best-articles .articles .owl-nav button{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #c30b2a;
    font-size: 1.625rem;
}
.best-articles .articles .owl-nav button:first-child{
    left: -20px
}
.best-articles .articles .owl-nav button:last-child{
    right: -20px
}
.best-articles .more-articles button,
.blog-articles .more-articles button{
    font-size: 1.125rem;
    font-weight: 300;
    color: #c30b2a;
    border: 2px solid #c30b2a;
    background-color: transparent;
    padding: 10px 15px;
}
.best-articles .more-articles button:hover,
.blog-articles .more-articles button:hover{
    color: #fff;
    background-color: #c30b2a;
    border-color: #c30b2a
}
.best-articles .more-articles button i,
.blog-articles .more-articles button i{
    margin-left: 10px;
}
@media (min-width: 992px){
    .best-articles{
        padding-bottom: 95px;
    }
    .best-articles .pt-pb{
        padding-top: 75px;
        padding-bottom: 75px;
    }
    .best-articles .header h2 i,
    .uesful-videos .header h2 i,
    .testmonials .header h2 i,
    .quality .header h2 i,
    .blog-articles .header h2 i{
        left: 0;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

/*End Best Articles*/
/*Start Uesful Videos*/

.uesful-videos{
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: rgba(223, 223, 223, 0.30);
}
.uesful-videos p{
    color: #353535;
    font-size: 1rem;
    font-weight: 300;
    line-height: 35px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0;
}
.uesful-videos p a{
    color: #353535;
}
.uesful-videos .scroll-section{
    height: 406px;
    overflow-y: auto;
}
.uesful-videos .scroll-section .section{
    border: 1px solid rgba(51, 50, 50, 0.06);
    margin-bottom: 5px;
    overflow: hidden;
}
.uesful-videos .scroll-section .section .image{
    width: 183px;
    height: 130px;
    background-image: url(../images/index/uesful-videos/image.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden
}
.uesful-videos .scroll-section .section .image .play{
    width: 25px;
    height: 25px;
    background-color: #fff;
    left: 0;
    bottom: 0;
}
.uesful-videos .scroll-section .section .image .play .arrow{
    width: 0;
    height: 0;
    border-width: 8px 0 8px 15px;
    border-style: solid;
    border-color: transparent transparent transparent #dc0032;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.uesful-videos .scroll-section .section .image .overlay{
    background-color: rgba(255, 255, 255, 0.4);
    opacity: 0;
    top: 0;
    left: 0
}
.uesful-videos .scroll-section .section .image .overlay .icon-website{
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.uesful-videos .scroll-section .section .image .overlay .icon-website > span{
    width: 25px;
    height: 30px;
    opacity: 0;
}
.uesful-videos .scroll-section .section .image .overlay .icon-website > span:first-child,
.uesful-videos .scroll-section .section .image .overlay .icon-website > span:nth-child(3){
    top: 100px
}
.uesful-videos .scroll-section .section .image .overlay .icon-website > span:nth-child(2),
.uesful-videos .scroll-section .section .image .overlay .icon-website > span:nth-child(4){
    top: -100px
}
.uesful-videos .scroll-section .section .image .overlay .icon-website > span:not(:last-child){
    margin-right: 4px;
}
.uesful-videos .scroll-section .section .text{
    padding: 12px 10px;
    background-color: #fff;
}
.uesful-videos .scroll-section .section .text p{
    margin: 0;
    padding: 0;
    color: #353535;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 30px;
    padding-bottom: 12px;
}
.uesful-videos .scroll-section .section .text p:before,
.uesful-videos .scroll-section .section .text p:after{
    content: "";
    position: absolute;
    background-color: #c30b2a;
    bottom: 0;
}
.uesful-videos .scroll-section .section .text p:before{
    height: 1px;
    width: 40px;
    left: 0;
}
.uesful-videos .scroll-section .section .text p:after{
    width: 7px;
    height: 7px;
    bottom: -3px;
    left: 0;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
.uesful-videos .scroll-section .section .text .info-for-user{
    padding-top: 13px;
    color: #a1a1a1;
    font-size: 0.75rem;
}
.uesful-videos .scroll-section .section .text .info-for-user > div:not(:last-child){
    margin-right: 15px
}
.uesful-videos .scroll-section .section .text .info-for-user > div i{
    margin-right: 5px;
}
.uesful-videos .video-star{
    padding: 7px;
    background-color: #fff;
    border: 1px solid rgba(51, 50, 50, 0.04);
    box-shadow: 0 0 10px rgba(51, 50, 50, 0.04);
    margin-bottom: 50px;
}
.uesful-videos .video-star .video-image{
    padding-top: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url(../images/index/uesful-videos/labtest.jpg);
    background-position: center center;
}
.uesful-videos .video-star .video-image .icon{
    cursor: pointer;
    width: 75px;
    height: 43px;
    background-color: #fff;
}
.uesful-videos .video-star .video-image .icon:hover .arrow{
    -webkit-transform: translate(-50%, -50%) scale(1.3, 1.3);
    -moz-transform: translate(-50%, -50%) scale(1.3, 1.3);
    -ms-transform: translate(-50%, -50%) scale(1.3, 1.3);
    -o-transform: translate(-50%, -50%) scale(1.3, 1.3);
    transform: translate(-50%, -50%) scale(1.3, 1.3);
}
.uesful-videos .video-star .video-image .icon,
.uesful-videos .video-star .video-image .icon .arrow{
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.uesful-videos .video-star .video-image .icon .a1,
.uesful-videos .video-star .video-image .icon .a2{
    top: 0;
    left: 0;
    background-color: #fff;
}
.uesful-videos .video-star .video-image .icon .a1{
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg);
    -webkit-animation: loop 1s infinite linear;
    -moz-animation: loop 1s infinite linear;
    -ms-animation: loop 1s infinite linear;
    -o-animation: loop 1s infinite linear;
    animation: loop 1s infinite linear;
}
.uesful-videos .video-star .video-image .icon .a2{
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg);
    -webkit-animation: loop-re 1s infinite linear;
    -moz-animation: loop-re 1s infinite linear;
    -ms-animation: loop-re 1s infinite linear;
    -o-animation: loop-re 1s infinite linear;
    animation: loop-re 1s infinite linear;
}
.uesful-videos .video-star .video-image .icon .arrow{
    width: 0;
    height: 0;
    border-width: 18px 0 18px 32px;
    border-style: solid;
    border-color: transparent transparent transparent #dc0032;
}
      /*HOVER*/
.uesful-videos .scroll-section .section .image .play,
.uesful-videos .scroll-section .section .image .overlay,
.uesful-videos .scroll-section .section .text,
.uesful-videos .scroll-section .section .text p a,
.uesful-videos .scroll-section .section .text i,
.uesful-videos .scroll-section .section .text span,
.uesful-videos .scroll-section .section .text p:before,
.uesful-videos .scroll-section .section .text p:after,
.uesful-videos .scroll-section .section .image .overlay .icon-website > span,

.uesful-videos .video-star .video-image .icon .a1,
.uesful-videos .video-star .video-image .icon .a2{
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.uesful-videos .scroll-section .section:hover .image .play{
    bottom: -25px;
}
.uesful-videos .scroll-section .section:hover .image .overlay{
    opacity: 1;
}
.uesful-videos .scroll-section .section:hover .image .overlay .icon-website > span{
    opacity: 1;
    top: 0;
}
.uesful-videos .scroll-section .section:hover .text{
    background-color: #bd0b27;
}
.uesful-videos .scroll-section .section:hover .text p a,
.uesful-videos .scroll-section .section:hover .text i,
.uesful-videos .scroll-section .section:hover .text span{
    color: #fff;
}
.uesful-videos .scroll-section .section:hover .text p:before,
.uesful-videos .scroll-section .section:hover .text p:after{
    background-color: #353535;
}
@media (min-width: 992px){
    .uesful-videos p{
        font-size: 1.25rem;
        line-height: 35px;
        padding-top: 60px;
        padding-bottom: 75px;
    }
}
@media (min-width: 1200px){
    .uesful-videos .video-star{
        margin-bottom: 0;
    }
    .uesful-videos .video-star .video-image{
        padding-top: 116.5%;
    }
}
@media (max-width: 767px){
    .uesful-videos .scroll-section{
        height: 500px;
    }
    .uesful-videos .scroll-section .section .image{
        padding-top: 71%;
        width: 100%;
    }
}
  /*Animation Video Star*/
@-webkit-keyframes loop{
    0%{
        -webkit-transform: rotate(60deg);
        -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
        -o-transform: rotate(60deg);
        transform: rotate(60deg)
    }
    100%{
        -webkit-transform: rotate(241deg);
        -moz-transform: rotate(241deg);
        -ms-transform: rotate(241deg);
        -o-transform: rotate(241deg);
        transform: rotate(241deg)
    }
}
@-moz-keyframes loop{
    0%{
        -webkit-transform: rotate(60deg);
        -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
        -o-transform: rotate(60deg);
        transform: rotate(60deg)
    }
    100%{
        -webkit-transform: rotate(241deg);
        -moz-transform: rotate(241deg);
        -ms-transform: rotate(241deg);
        -o-transform: rotate(241deg);
        transform: rotate(241deg)
    }
}
@-ms-keyframes loop{
    0%{
        -webkit-transform: rotate(60deg);
        -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
        -o-transform: rotate(60deg);
        transform: rotate(60deg)
    }
    100%{
        -webkit-transform: rotate(241deg);
        -moz-transform: rotate(241deg);
        -ms-transform: rotate(241deg);
        -o-transform: rotate(241deg);
        transform: rotate(241deg)
    }
}
@-o-keyframes loop{
    0%{
        -webkit-transform: rotate(60deg);
        -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
        -o-transform: rotate(60deg);
        transform: rotate(60deg)
    }
    100%{
        -webkit-transform: rotate(241deg);
        -moz-transform: rotate(241deg);
        -ms-transform: rotate(241deg);
        -o-transform: rotate(241deg);
        transform: rotate(241deg)
    }
}
@keyframes loop{
    0%{
        -webkit-transform: rotate(60deg);
        -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
        -o-transform: rotate(60deg);
        transform: rotate(60deg)
    }
    100%{
        -webkit-transform: rotate(241deg);
        -moz-transform: rotate(241deg);
        -ms-transform: rotate(241deg);
        -o-transform: rotate(241deg);
        transform: rotate(241deg)
    }
}

@-webkit-keyframes loop-re{
    0%{
        -webkit-transform: rotate(-60deg);
        -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
        -o-transform: rotate(-60deg);
        transform: rotate(-60deg)
    }
    100%{
        -webkit-transform: rotate(-241deg);
        -moz-transform: rotate(-241deg);
        -ms-transform: rotate(-241deg);
        -o-transform: rotate(-241deg);
        transform: rotate(-241deg)
    }
}
@-moz-keyframes loop-re{
    0%{
        -webkit-transform: rotate(-60deg);
        -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
        -o-transform: rotate(-60deg);
        transform: rotate(-60deg)
    }
    100%{
        -webkit-transform: rotate(-241deg);
        -moz-transform: rotate(-241deg);
        -ms-transform: rotate(-241deg);
        -o-transform: rotate(-241deg);
        transform: rotate(-241deg)
    }
}
@-ms-keyframes loop-re{
    0%{
        -webkit-transform: rotate(-60deg);
        -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
        -o-transform: rotate(-60deg);
        transform: rotate(-60deg)
    }
    100%{
        -webkit-transform: rotate(-241deg);
        -moz-transform: rotate(-241deg);
        -ms-transform: rotate(-241deg);
        -o-transform: rotate(-241deg);
        transform: rotate(-241deg)
    }
}
@-o-keyframes loop-re{
    0%{
        -webkit-transform: rotate(-60deg);
        -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
        -o-transform: rotate(-60deg);
        transform: rotate(-60deg)
    }
    100%{
        -webkit-transform: rotate(-241deg);
        -moz-transform: rotate(-241deg);
        -ms-transform: rotate(-241deg);
        -o-transform: rotate(-241deg);
        transform: rotate(-241deg)
    }
}
@keyframes loop-re{
    0%{
        -webkit-transform: rotate(-60deg);
        -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
        -o-transform: rotate(-60deg);
        transform: rotate(-60deg)
    }
    100%{
        -webkit-transform: rotate(-241deg);
        -moz-transform: rotate(-241deg);
        -ms-transform: rotate(-241deg);
        -o-transform: rotate(-241deg);
        transform: rotate(-241deg)
    }
}

/*End Uesful Videos*/
/*Start Pop Up Videos*/

.pop-up-videos{
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85);
    overflow: auto;
    z-index: 10;
}
.pop-up-videos.remove{
    display: none !important;
}
.pop-up-videos .video{
    padding-top: 40%;
}
.pop-up-videos .video iframe{
    top: 0;
    left: 0;
}
.pop-up-videos > span{
    top: 20px;
    left: 20px;
    color: #fff;
    cursor: pointer;
}
.pop-up-videos > span i{
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.pop-up-videos > span:hover i{
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}

/*End Pop Up Videos*/
/*Start Students Testmonials*/

.testmonials{
    padding-top: 95px;
    padding-bottom: 95px;
}
.testmonials .testmo{
    padding-top: 70px;
}
.testmonials .testmo .images .owl-stage-outer{
    padding-top: 14px;
    padding-bottom: 14px;
}
.testmonials .testmo .images .person-image{
    margin-right: 15px;
    margin-left: 15px;
    opacity: 0.5;
    filter:Alpha(opacity=50);
    cursor: pointer;
}
.testmonials .testmo .images .person-image .hexagon {
    position: relative;
    width: 115px; 
    height: 66.40px;
    margin: 33.20px auto;
    background-image: url(http://csshexagon.com/img/meow.jpg);
    background-size: auto 123.5530px;
    background-position: center;
    border-left: solid 4px #ffffff;
    border-right: solid 4px #ffffff;
    z-index: 1; /*NEW*/
    background-clip: padding-box;
}
.testmonials .testmo .images .person-image.image-1 .hexagon{
    background-image: url(../images/index/testmonials/person-1.jpg);
}
.testmonials .testmo .images .person-image.image-2 .hexagon{
    background-image: url(../images/index/testmonials/person-2.jpg);
}
.testmonials .testmo .images .person-image.image-3 .hexagon{
    background-image: url(../images/index/testmonials/person-3.jpg);
}
.testmonials .testmo .images .person-image .hexTop,
.testmonials .testmo .images .person-image .hexBottom {
    position: absolute;
    z-index: 1;
    width: 81.32px;
    height: 81.32px;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 12.84px;
}
.testmonials .testmo .images .person-image .hexTop:after,
.testmonials .testmo .images .person-image .hexBottom:after {
    content: "";
    position: absolute;
    width: 107.0000px;
    height: 61.77647880328996px;
    -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-30.8882px);
    -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-30.8882px);
    transform:          rotate(45deg) scaleY(1.7321) translateY(-30.8882px);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
}
.testmonials .testmo .images .person-image .hexTop {
    top: -40.6586px;
    border-top: solid 5.6569px #ffffff;
    border-right: solid 5.6569px #ffffff;
    background-clip: padding-box;
}
.testmonials .testmo .images .person-image .hexTop:after {
    background-position: center top;
}
.testmonials .testmo .images .person-image .hexBottom {
    bottom: -40.6586px;
    border-bottom: solid 5.6569px #ffffff;
    border-left: solid 5.6569px #ffffff;
    background-clip: padding-box;
}
.testmonials .testmo .images .person-image .hexBottom:after {
    background-position: center bottom;
}
.testmonials .testmo .images .person-image .hexagon:after {
    content: "";
    position: absolute;
    top: 2.3094px;
    left: 0;
    width: 107.0000px;
    height: 61.7765px;
    z-index: 2;
    background: inherit;
}
.testmonials .testmo .images .person-image,
.testmonials .testmo .images .person-image .hexagon,
.testmonials .testmo .images .person-image .hexTop,
.testmonials .testmo .images .person-image .hexBottom{
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.testmonials .testmo .names{
    margin-top: 45px;
}
.testmonials .testmo .names .person-name{
    display: none;
}
.testmonials .testmo .names .person-name:nth-of-type(2){
    display: block;
}
.testmonials .testmo .names .person-name h3{
    color: #dc0032;
    font-size: 1.5625rem;
    font-weight: bold;
    line-height: 35px;
    padding-bottom: 15px;
    margin: 0
}
.testmonials .testmo .names .person-name h3 i{
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.testmonials .testmo .text{
    margin-top: 45px;
}
.testmonials .testmo .text .person-text{
    padding: 50px 15px;
    border: 1px solid rgba(51, 50, 50, 0.1);
    display: none;
}
.testmonials .testmo .text .person-text:nth-of-type(2){
    display: block;
}
.testmonials .testmo .text .person-text p{
    margin: 0;
    color: #353535;
    font-size: 1rem;
    line-height: 25px;
}
.testmonials .testmo .text .person-text .icon{
    background-color: #dc0032;
    width: 40px;
    height: 23px;
    color: #fff;
    font-size: 1.1rem
}
.testmonials .testmo .text .person-text .icon:first-of-type{
    right: 0px;
    top: 0px;
}
.testmonials .testmo .text .person-text .icon:last-of-type{
    bottom: 0px;
    left: 0px
}
.testmonials .testmo .text .person-text .icon .a1,
.testmonials .testmo .text .person-text .icon .a2{
    background-color: #dc0032;
    top: 0;
    left: 0;
}
.testmonials .testmo .text .person-text .icon .a1{
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg);
}
.testmonials .testmo .text .person-text .icon .a2{
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg);
}
.testmonials .testmo .text .person-text .icon i{
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/*HOVER*/
.testmonials .testmo .images .owl-stage-outer .owl-stage .owl-item.active .person-image{
    opacity: 1;
    filter:Alpha(opacity=100);
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}
.testmonials .testmo .images .owl-stage-outer .owl-stage .owl-item.active .person-image .hexagon,
.testmonials .testmo .images .owl-stage-outer .owl-stage .owl-item.active .person-image .hexTop,
.testmonials .testmo .images .owl-stage-outer .owl-stage .owl-item.active .person-image .hexBottom{
    border-color: #dc0032;
}

@media (min-width: 576px){
    .testmonials .testmo .text .person-text{
        padding: 50px 40px;
    }
    .testmonials .testmo .text .person-text .icon:first-of-type{
        right: -20px;
    }
    .testmonials .testmo .text .person-text .icon:last-of-type{
        left: -20px
    }
    /*HOVER*/
    .testmonials .testmo .images .person-image.active,
    .testmonials .testmo .images .person-image:hover{
        opacity: 1;
        filter:Alpha(opacity=100);
        -webkit-transform: scale(1.2, 1.2);
        -moz-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        -o-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
    }
    .testmonials .testmo .images .person-image.active .hexagon,
    .testmonials .testmo .images .person-image.active .hexTop,
    .testmonials .testmo .images .person-image.active .hexBottom,
    .testmonials .testmo .images .person-image:hover .hexagon,
    .testmonials .testmo .images .person-image:hover .hexTop,
    .testmonials .testmo .images .person-image:hover .hexBottom{
        border-color: #dc0032;
    }
}
@media (min-width: 768px){
    .testmonials .testmo .text .person-text p{
        font-size: 1.375rem;
        line-height: 30px;
    }
    .testmonials .testmo .text .person-text .icon{
        width: 70px;
        height: 40px;
        font-size: 2rem
    }
    .testmonials .testmo .text .person-text .icon:first-of-type{
        right: -35px;
    }
    .testmonials .testmo .text .person-text .icon:last-of-type{
        left: -35px
    }
}

/*End Students Testmonials*/
/*Start Quality*/
/*(Blog Articles)*/

.quality{
    padding-top: 60px;
    padding-bottom: 60px;
}
.quality > .background{
    top: 0;
    left: 0;
    background-image: url(../images/index/top/bg.png);
    opacity: 0.04
}
.quality > .side{
    top: 0;
    right: 0;
    background-image: url(../images/index/quality/side.png);
    background-size: 100% 100%;
    width: 230px;
}
.quality .items{
    margin-top: 65px;
}
.quality .items .owl-stage-outer{
    padding: 10px;
}
.quality .items .item,
.blog-articles .items .item{
    -webkit-box-shadow: 0 0 13px rgba(195, 11, 42, 0.05);
    -moz-box-shadow: 0 0 13px rgba(195, 11, 42, 0.05);
    -ms-box-shadow: 0 0 13px rgba(195, 11, 42, 0.05);
    -o-box-shadow: 0 0 13px rgba(195, 11, 42, 0.05);
    box-shadow: 0 0 13px rgba(195, 11, 42, 0.05);
}
.quality .items .item .image .image-background,
.blog-articles .items .item .image .image-background{
    padding-top: 100%;
    background-image: url(../images/index/quality/lab.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
}
.quality .items .item .text h2,
.blog-articles .items .item h2{
    font-size: 0.875rem;
    color: #353535;
    font-weight: 300;
    line-height: 25px;
    padding: 25px 15px;
    margin-bottom: 0;
    background-color: #fff;
}
.quality .items .item .text h2 a,
.blog-articles .items .item h2 a{
    color: inherit;
}
.quality .items .owl-dots{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}
.quality .items .owl-dots button{
    width: 12px;
    height: 12px;
    background-color: #353535;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    margin-right: 7px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.quality .items .owl-dots button.active{
    background-color: #dc0032;
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}
@media (min-width: 768px){
    .quality{
        padding-top: 100px;
        padding-bottom: 70px;
    }
}

/*End Quality*/
/*Start Blog Articles*/

.blog-articles{
    padding-top: 65px;
    padding-bottom: 65px;
}
.blog-articles .items{
    margin-top: 75px;
    margin-bottom: 40px;
}
.blog-articles .items .item{
    margin-bottom: 30px;
}
@media (min-width: 768px){
    .blog-articles{
        padding-top: 95px;
        padding-bottom: 95px;
    }
    .blog-articles .items{
        margin-bottom: 55px;
    }
}

/*End Blog Articles*/






















