/**************************************************Start About Us**************************************************/

/*Start About Me Header*/

.about-me-header{
    background-color: #353535;
    padding-top: 10px;
    padding-bottom: 10px;
}
.about-me-header h2{
    color: #fff;
    padding-bottom: 20px;
    font-size: 1.875rem;
    margin: 0;
}
.about-me-header h2:before{
    content: "";
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: #c30b2a;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}
.about-me-header h2 span:first-child{
    font-weight: bold;
}
.about-me-header h2 span:nth-child(2){
    font-weight: 300;
}
.about-me-header .image {
    margin-top: 20px;
}
.about-me-header .image .hexagon {
  position: relative;
  width: 120px; 
  height: 69.28px;
  margin: 34.64px 0;
  background-image: url(../images/about-me/about-me-header/amr.jpg);
  background-size: auto 131.6359px;
  background-position: center;
  border-left: solid 3px #861d2f;
  border-right: solid 3px #861d2f;
}

.about-me-header .image .hexTop,
.about-me-header .image .hexBottom {
  position: absolute;
  z-index: 1;
  width: 84.85px;
  height: 84.85px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 14.57px;
}

/*counter transform the bg image on the caps*/
.about-me-header .image .hexTop:after,
.about-me-header .image .hexBottom:after {
  content: "";
  position: absolute;
  width: 114.0000px;
  height: 65.81793068761735px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-32.9090px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-32.9090px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-32.9090px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.about-me-header .image .hexTop {
  top: -42.4264px;
  border-top: solid 4.2426px #861d2f;
  border-right: solid 4.2426px #861d2f;
}

.about-me-header .image .hexTop:after {
  background-position: center top;
}

.about-me-header .image .hexBottom {
  bottom: -42.4264px;
  border-bottom: solid 4.2426px #861d2f;
  border-left: solid 4.2426px #861d2f;
}

.about-me-header .image .hexBottom:after {
  background-position: center bottom;
}

.about-me-header .image .hexagon:after {
  content: "";
  position: absolute;
  top: 1.7321px;
  left: 0;
  width: 114.0000px;
  height: 65.8179px;
  z-index: 2;
  background: inherit;
}
@media (min-width: 576px){
    .about-me-header h2:before{
        left: 0;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    .about-me-header .image {
        margin-top: 0;
    }
}

/*End About Me Header*/
/*Start Inter*/

.inter{
    padding-top: 60px;
    padding-bottom: 60px;
}
.inter h2{
    color: #c30b2a;
    font-size: 2.1875rem;
    line-height: 55px;
    margin-bottom: 25px;
}
.inter p{
    color: #353535;
    font-size: 1rem;
    line-height: 35px;
    margin: 0;
}
.inter p:first-of-type{
    margin-bottom: 60px;
}
@media (min-width: 768px){
    .inter{
        padding-top: 90px;
        padding-bottom: 90px;
    }
    .inter h2{
        font-size: 3.125rem;
        line-height: 60px;
        margin-bottom: 35px;
    }
    .inter p{
        font-size: 1.125rem;
        line-height: 40px;
    }
}

/*End Inter*/
/*Start Certificates*/
/*(Jops)*/

.certificates{
    background-color: #f9f9f9;
    padding-top: 65px;
    padding-bottom: 65px;
}
.certificates .header h2,
.jops-section .header h2{
    color: #c30b2a;
    font-size: 1.875rem;
    font-weight: bold;
    margin-bottom: 70px;
}
.certificates .header h2 span,
.jops-section .header h2 span{
    z-index: 1;
}
.certificates .header h2 img,
.jops-section .header h2 img{
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 60px;
    opacity: 0.08;
    z-index: 0
}
.certificates .iso .owl-dots{
    display: none;
}
.certificates .iso .owl-nav{
    display: none;
}
.certificates .iso .owl-nav button{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #c30b2a;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.certificates .iso .owl-nav button:first-child{
    left: -48px;
}
.certificates .iso .owl-nav button:last-child{
    right: -48px;
}
.certificates .iso .owl-nav button i{
    color: #c30b2a;
    font-size: 1.5625rem;
    position: relative;
    top: 2px;
}
.certificates .iso .iso-item .image{
    padding-top: 73%;
    background-image: url(../images/about-me/certificates/ISO.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
}
@media (min-width: 576px){
    .certificates .header h2 img,
    .jops-section .header h2 img{
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}
@media (min-width: 768px){
    .certificates{
        padding-top: 75px;
        padding-bottom: 75px;
    }
    .certificates .header h2{
        margin-bottom: 100px;
    }
}
@media (min-width: 1200px){
    .certificates .iso .owl-nav{
        display: block;
    }
}

/*End Certificates*/
/*Start Jops*/

.jops-section{
    background-color: #feffff;
    padding-top: 65px;
    padding-bottom: 65px;
}
.jops-section .jops .jop{
    background-color: #f9f9f9;
    padding-top: 40px;
    padding-bottom: 22.5px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.jops-section .jops .jop:not(:last-child){
    margin-bottom: 60px;
}
.jops-section .jops .jop .icon{
    width: 50px;
    height: 30px;
    background-color: #dc0032;
    top: -15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.jops-section .jops .jop .icon .a1,
.jops-section .jops .jop .icon .a2{
    top: 0;
    left: 0;
    background-color: #dc0032;
}
.jops-section .jops .jop .icon .a1{
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg);
}
.jops-section .jops .jop .icon .a2{
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg);
}
.jops-section .jops .jop .icon span{
    color: #fff;
    font-weight: bold;
    font-size: 1.5625rem;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.jops-section .jops .jop p{
    color: #010101;
    font-size: 1rem;
    margin: 0;
}
@media (min-width: 768px){
    .jops-section{
        padding-top: 95px;
        padding-bottom: 95px;
    }
    .jops-section .jops .jop{
        width: calc(100% - 37.5px);
        padding-top: 22.5px;
        padding-left: 45px;
    }
    .jops-section .jops .jop:not(:last-child){
        margin-bottom: 30px;
    }
    .jops-section .jops .jop p{
        font-size: 1.5rem;
    }
    /*icon*/

    .jops-section .jops .jop .icon{
        width: 75px;
        height: 45px;
        left: -37.5px;
        top: auto;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    .jops-section .jops .jop .icon span{
        font-size: 2.5rem;
    }
}

/*End Jops*/

/**************************************************End About Us**************************************************/
/**************************************************Start Articles**************************************************/

/*Start Articles Header*/

.articles-header{
    background-color: #353535;
    padding-top: 40px;
    padding-bottom: 40px;
}
.articles-header h2{
    font-size: 1.875rem;
    margin: 0;
}
.articles-header h2 span{
    z-index: 1;
    font-weight: bold;
    color: #fff;
}
.articles-header h2 i{
    color: #fff;
    opacity: 0.08;
    font-size: 5.3125rem;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 0
}
@media (min-width: 576px){
    .articles-header{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .articles-header h2 i{
        left: 0;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }
}

/*End Articles Header*/
/*Start Articles Section*/
/*(Article Page: Best Articles)*/

.articles-section,
.best-articles-section{
    padding-top: 65px;
    padding-bottom: 35px;
    background-color: #feffff;
}
.articles-section .articles .item,
.best-articles-section .articles .item{
    -webkit-box-shadow: 0 0 13px rgba(195, 11, 42, 0.05);
    -moz-box-shadow: 0 0 13px rgba(195, 11, 42, 0.05);
    -ms-box-shadow: 0 0 13px rgba(195, 11, 42, 0.05);
    -o-box-shadow: 0 0 13px rgba(195, 11, 42, 0.05);
    box-shadow: 0 0 13px rgba(195, 11, 42, 0.05);
    margin-bottom: 30px;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    top: 0;
}
.articles-section .articles .item:hover,
.best-articles-section .articles .item:hover{
    top: -10px;
}
.articles-section .articles .item .image .image-background,
.best-articles-section .articles .item .image .image-background{
    padding-top: 100%;
    background-image: url(../images/articles/lab.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
}
.articles-section .articles .item h2,
.best-articles-section .articles .item h2{
    font-size: 0.875rem;
    color: #353535;
    font-weight: 300;
    line-height: 25px;
    padding: 25px 15px;
    margin-bottom: 0;
    background-color: #fff;
}
.articles-section .articles .item h2 a,
.best-articles-section .articles .item h2 a{
    color: inherit;
}
@media (min-width: 768px){
    .articles-section,
    .best-articles-section{
        padding-top: 95px;
        padding-bottom: 65px;
    }
}

/*End Articles Section*/

/**************************************************End Articles**************************************************/
/**************************************************Start Article Page**************************************************/

/*Start Article Active*/

.article-active .background{
    padding-top: 70%;
    background-image: url(../images/article-page/bg.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.article-active .title{
    left: 0;
    bottom: 0;
    background-color: rgba(35, 35, 35, 0.4);
    color: #fff;
    padding-top: 22px;
    padding-bottom: 22px;
}
.article-active .title p{
    font-size: 1rem;
    line-height: 25px;
    margin-bottom: 10px;
}
.article-active .title p + .info > span:not(:last-child){
    margin-right: 15px;
}
.article-active .title p + .info > span .text{
    font-size: 0.75rem;
    margin-left: 3px;
}
@media (min-width: 768px){
    .article-active .background{
        padding-top: 40%;
    }
    .article-active .title p{
        font-size: 1.25rem;
        line-height: 30px;
    }
}

/*End Article Active*/
/*Start Paragraph*/
/*Video Page: Paragraph*/

.paragraph{
    padding-top: 50px;
    padding-bottom: 50px;
}
.paragraph p{
    font-size: 1rem;
    color: #353535;
    line-height: 35px;
    margin-bottom: 30px;
}
.paragraph .icon-website{
    border: 1px solid rgba(195, 11, 42, 0.30);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    padding: 15px;
}
.paragraph .icon-website a:not(:last-child){
    margin-right: 4px;
}
.paragraph .icon-website a img{
    width: 35px;
}
@media (min-width: 768px){
    .paragraph{
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .paragraph p{
        font-size: 1.125rem;
        line-height: 40px;
        margin-bottom: 50px;
    }
}

/*End Paragraph*/
/*Start Comments*/
/*(Best Articles)*/

.comments{
    padding-top: 55px;
    padding-bottom: 55px;
    background-color: #f9f9f9;
}
.comments .header h2,
.best-articles-section .header h2{
    font-size: 1.875rem;
    font-weight: bold;
    color: #c30b2a;
}
.comments .header h2 span,
.best-articles-section .header h2 span{
    z-index: 1;
}
.comments .header h2 i,
.best-articles-section .header h2 i{
    opacity: 0.08;
    color: #353535;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 0;
}
.comments .header h2 i:before,
.best-articles-section .header h2 i:before{
    position: relative;
    font-size: 5.3125rem;
    margin: 0;
    z-index: 0;
}
.comments .form-comment{
    margin-top: 70px;
}
.comments .form-comment input,
.comments .form-comment textarea{
    height: 50px;
    padding: 15px;
    border: 1px solid rgba(51, 50, 50, 0.1);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    background-color: #fff;
}
.comments .form-comment input{
    margin-bottom: 12px;
}
.comments .form-comment textarea{
    height: 160px;
}
.comments .form-comment input::-webkit-input-placeholder,
.comments .form-comment textarea::-webkit-input-placeholder{ /* Chrome/Opera/Safari */
    font-size: 1.125rem;
    color: rgba(39, 34, 35, 0.5);
}
.comments .form-comment input::-moz-placeholder,
.comments .form-comment textarea::-webkit-input-placeholder{ /* Firefox 19+ */
    font-size: 1.125rem;
    color: rgba(39, 34, 35, 0.5);
}
.comments .form-comment input:-ms-input-placeholder,
.comments .form-comment textarea::-webkit-input-placeholder{ /* IE 10+ */
    font-size: 1.125rem;
    color: rgba(39, 34, 35, 0.5);
}
.comments .form-comment input:-moz-placeholder,
.comments .form-comment textarea::-webkit-input-placeholder{ /* Firefox 18- */
    font-size: 1.125rem;
    color: rgba(39, 34, 35, 0.5);
}
@media (min-width: 768px){
    .comments{
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .comments .header h2 i,
    .best-articles-section .header h2 i{
        left: 0;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

/*End Comments*/
/*Start Best Articles*/

.best-articles-section .header h2 span:first-child{
    color: #c30b2a;
    font-weight: bold;
}
.best-articles-section .header h2 span:nth-child(2){
    color: #353535;
    font-weight: 300;
}
.best-articles-section .articles{
    margin-top: 70px;
}
.best-articles-section .articles .item h2{
    font-size: 0.875rem;
    color: #353535;
    font-weight: 300;
    line-height: 25px;
    padding: 25px 15px;
    margin-bottom: 0;
    background-color: #fff;
}
.best-articles-section .articles .item h2 a{
    color: inherit;
}

/*End Best Articles*/

/**************************************************End Article Page**************************************************/
/**************************************************Start Contact Us**************************************************/

/*Start Contact Me Header*/

.contact-me-header{
    background-color: #353535;
    padding-top: 40px;
    padding-bottom: 40px;
}
.contact-me-header h2{
    font-size: 1.875rem;
    margin: 0;
}
.contact-me-header h2 span{
    z-index: 1;
    font-weight: bold
}
.contact-me-header h2 span:first-child{
    color: #c30b2a;
}
.contact-me-header h2 span:nth-child(2){
    color: #fff;
}
.contact-me-header h2 i{
    color: #fff;
    opacity: 0.08;
    font-size: 5.3125rem;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 0
}
@media (min-width: 576px){
    .contact-me-header{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .contact-me-header h2 i{
        left: 0;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }
}

/*End Contact Me Header*/
/*(Register: form)*/

.form-section{
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #feffff;
}
.form-section .basis{
    margin-bottom: 12px;
}
.form-section input,
.form-section textarea{
    height: 80px;
    padding: 20px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid rgba(195, 11, 42, 0.13);
}
.form-section textarea{
    min-height: 180px;;
}
.form-section input::-webkit-input-placeholder,
.form-section textarea::-webkit-input-placeholder{ /* Chrome/Opera/Safari */
    color: #353535;
    font-size: 1.125rem;
}
.form-section input::-moz-placeholder,
.form-section textarea::-moz-placeholder{ /* Firefox 19+ */
    color: #353535;
    font-size: 1.125rem;
}
.form-section input:-ms-input-placeholder,
.form-section textarea:-ms-input-placeholder{ /* IE 10+ */
    color: #353535;
    font-size: 1.125rem;
}
.form-section input:-moz-placeholder,
.form-section textarea:-moz-placeholder{ /* Firefox 18- */
    color: #353535;
    font-size: 1.125rem;
}
.form-section input[type="submit"]{
    height: auto;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    border-color: #fff;
    padding: 15px 45px;
    font-size: 1.125rem;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    margin-top: 40px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#353535+0,c90838+100&0.8+0,1+100 */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM1MzUzNSIgc3RvcC1vcGFjaXR5PSIwLjgiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2M5MDgzOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(left, rgba(53,53,53,0.8) 0%, rgba(201,8,56,1) 100%); /* FF3.6-15 */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(53,53,53,0.8)), color-stop(100%,rgba(201,8,56,1))); /* Chrome4-9,Safari4-5 */
    background: -webkit-linear-gradient(left, rgba(53,53,53,0.8) 0%,rgba(201,8,56,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: -o-linear-gradient(left, rgba(53,53,53,0.8) 0%,rgba(201,8,56,1) 100%); /* Opera 11.10-11.50 */
    background: -ms-linear-gradient(left, rgba(53,53,53,0.8) 0%,rgba(201,8,56,1) 100%); /* IE10 preview */
    background: linear-gradient(to right, rgba(53,53,53,0.8) 0%,rgba(201,8,56,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc353535', endColorstr='#c90838',GradientType=1 ); /* IE6-8 */
}
.form-section input[type="submit"]:hover{
    color: rgba(201,8,56,1);
    background: #fff;
    border-color: rgba(201,8,56,1);
}

/*End Form*/

/**************************************************End Contact Us**************************************************/
/**************************************************Start Register**************************************************/

/*Start Register Header*/

.register-header{
    background-color: #353535;
    padding-top: 40px;
    padding-bottom: 40px;
}
.register-header h2{
    font-size: 1.875rem;
    margin: 0;
}
.register-header h2 span{
    z-index: 1;
    font-weight: bold;
    color: #fff;
}
.register-header h2 i{
    color: #fff;
    opacity: 0.08;
    font-size: 5.3125rem;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 0
}
@media (min-width: 576px){
    .register-header{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .register-header h2 i{
        left: 0;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }
}

/*End Register Header*/

/**************************************************End Register**************************************************/
/**************************************************Start Video Page**************************************************/

/*Start Video Active*/

.video-active .background{
    padding-top: 70%;
}
.video-active .background iframe{
    top: 0;
    left: 0
}
.video-active .title{
    background-color: #eee;
    color: #353535;
    padding-top: 22px;
    padding-bottom: 22px;
}
.video-active .title p{
    font-size: 1rem;
    line-height: 25px;
    margin-bottom: 10px;
}
.video-active .title p + .info > span:not(:last-child){
    margin-right: 15px;
}
.video-active .title p + .info > span .text{
    font-size: 0.75rem;
    margin-left: 3px;
}
.video-active .title p + .info > span .icon{
    color: #c30b2a;
}
@media (min-width: 768px){
    .video-active .background{
        padding-top: 40%;
    }
    .video-active .title p{
        font-size: 1.25rem;
        line-height: 30px;
    }
}

/*End Video Active*/
/*Start Others Videos*/

.others-videos{
    padding-top: 100px;
    padding-bottom: 90px;
    background-image: url(../images/video-page/bg.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.others-videos p{
    color: #353535;
    font-size: 1rem;
    font-weight: 300;
    line-height: 35px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0;
}
.others-videos p a{
    color: #353535;
}
.others-videos .videos .section{
    border: 1px solid rgba(51, 50, 50, 0.06);
    margin-bottom: 10px;
    overflow: hidden;
}
.others-videos .videos .section .image{
    width: 183px;
    height: 130px;
    background-image: url(../images/index/uesful-videos/image.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden
}
.others-videos .videos .section .image .play{
    width: 25px;
    height: 25px;
    background-color: #fff;
    left: 0;
    bottom: 0;
}
.others-videos .videos .section .image .play .arrow{
    width: 0;
    height: 0;
    border-width: 8px 0 8px 15px;
    border-style: solid;
    border-color: transparent transparent transparent #dc0032;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.others-videos .videos .section .image .overlay{
    background-color: rgba(255, 255, 255, 0.4);
    opacity: 0;
    top: 0;
    left: 0
}
.others-videos .videos .section .image .overlay .icon-website{
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.others-videos .videos .section .image .overlay .icon-website > span{
    width: 25px;
    height: 30px;
    opacity: 0;
    cursor: pointer
}
.others-videos .videos .section .image .overlay .icon-website > span:not(:last-child){
    margin-right: 7px;
}
.others-videos .videos .section .image .overlay .icon-website > span:first-child,
.others-videos .videos .section .image .overlay .icon-website > span:nth-child(3){
    top: 100px
}
.others-videos .videos .section .image .overlay .icon-website > span:nth-child(2),
.others-videos .videos .section .image .overlay .icon-website > span:nth-child(4){
    top: -100px
}
.others-videos .videos .section .image .overlay .icon-website > span:not(:last-child){
    margin-right: 4px;
}
.others-videos .videos .section .image .overlay .icon-website > span svg polygon,
.others-videos .videos .section .image .overlay .icon-website > span i{
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.others-videos .videos .section .image .overlay .icon-website > span:hover svg polygon{
    fill: #fff !important;
}
.others-videos .videos .section .image .overlay .icon-website > span:hover i{
    color: #c30b2a
}
.others-videos .videos .section .image .overlay .icon-website > span i{
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
}
.others-videos .videos .section .text{
    padding: 12px 10px;
    background-color: #fff;
}
.others-videos .videos .section .text p{
    margin: 0;
    padding: 0;
    color: #353535;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 30px;
    padding-bottom: 12px;
}
.others-videos .videos .section .text p:before,
.others-videos .videos .section .text p:after{
    content: "";
    position: absolute;
    background-color: #c30b2a;
    bottom: 0;
}
.others-videos .videos .section .text p:before{
    height: 1px;
    width: 40px;
    left: 0;
}
.others-videos .videos .section .text p:after{
    width: 7px;
    height: 7px;
    bottom: -3px;
    left: 0;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
.others-videos .videos .section .text .info-for-user{
    padding-top: 13px;
    color: #a1a1a1;
    font-size: 0.75rem;
}
.others-videos .videos .section .text .info-for-user > div:not(:last-child){
    margin-right: 15px
}
.others-videos .videos .section .text .info-for-user > div i{
    margin-right: 5px;
}
      /*HOVER*/
.others-videos .videos .section .image .play,
.others-videos .videos .section .image .overlay,
.others-videos .videos .section .text,
.others-videos .videos .section .text p a,
.others-videos .videos .section .text i,
.others-videos .videos .section .text span,
.others-videos .videos .section .text p:before,
.others-videos .videos .section .text p:after,
.others-videos .videos .section .image .overlay .icon-website > span{
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.others-videos .videos .section:hover .image .play{
    bottom: -25px;
}
.others-videos .videos .section:hover .image .overlay{
    opacity: 1;
}
.others-videos .videos .section:hover .image .overlay .icon-website > span{
    opacity: 1;
    top: 0;
}
.others-videos .videos .section:hover .text{
    background-color: #bd0b27;
}
.others-videos .videos .section:hover .text p a,
.others-videos .videos .section:hover .text i,
.others-videos .videos .section:hover .text span{
    color: #fff;
}
.others-videos .videos .section:hover .text p:before,
.others-videos .videos .section:hover .text p:after{
    background-color: #353535;
}
@media (min-width: 992px){
    .others-videos p{
        font-size: 1.25rem;
        line-height: 35px;
        padding-top: 60px;
        padding-bottom: 75px;
    }
}
@media (max-width: 767px){
    .others-videos .videos .section .image{
        padding-top: 71%;
        width: 100%;
    }
}

/*End Others Videos*/

/**************************************************End Video Page**************************************************/














